@-moz-document url("about:home"), url("about:newtab") {
  .activity-stream {
    overflow-y: unset !important;
  }
  .search-wrapper {
    margin: 0 !important;
  }
  .search-wrapper input {
    border-radius: 2px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  }
  /*.activity-stream {
    background-color: #37474F !important;
    color: #fff  !important;
    overflow-y: unset !important;
  }
  .section-title span {
  	color: rgba(255,255,255,0.38) !important;
  	fill: rgba(255,255,255,0.38) !important;
  }
  .prefs-pane-button button {
  	fill: rgba(255,255,255,0.7) !important;
  }
  .context-menu,
  .search-wrapper {
  	color: rgba(0,0,0,0.87) !important;
  }*/
}
/*@-moz-document url("about:blank") {
  *:empty:not([id]):not([style]) {
    background-color: #37474F !important;
  }
}*/
